
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
            name="description"
            content="free-educational-responsive-web-template-webEdu"
    />
    <meta name="author" content="webThemez.com" />
    <title>Extra Lessons Application</title>
    <link rel="favicon" th:href="@{/images/favicon.png}" />
    <link
            rel="stylesheet"
            media="screen"
            href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <link
            rel="stylesheet"
            th:href="@{/css/bootstrap-theme.css}"
            media="screen"
    />
    <link rel="stylesheet" th:href="@{css/style.css}" />
    <link
            rel="stylesheet"
            id="camera-css"
            th:href="@{css/camera.css}"
            type="text/css"
            media="all"
    />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{js/html5shiv.js}"></script>
    <script th:src="@{js/respond.min.js}"></script>
    <![endif]-->
</head>


<header th:fragment="unregistered_user_navbar" >
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button
                    type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
            >
            <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <img
                        th:src="@{images/logo1.png}"
                        alt="Techro HTML5 template"
                        style="width: 80px;"
                /></a>
            <a class="navbar-brand">
                <img
                        th:src="@{images/Roblo3.png}"
                        alt="Techro HTML5 template"
                        style="width: 300px;"
                /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right mainNav">
                <li class="c1"><a href="/">Home</a></li>
                <li class="c4"><a href="/contact">Contact</a></li>
                <li class="c2"><a href="/about">About Project</a></li>
                <li class="c3"><a href="/login">Login</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->
</header>

<header th:fragment="moderator_user_navbar" >
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button
                        type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse"
                >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <img
                            th:src="@{images/logo1.png}"
                            alt="Techro HTML5 template"
                            style="width: 80px;"
                    /></a>
                <a class="navbar-brand">
                    <img
                            th:src="@{images/Roblo3.png}"
                            alt="Techro HTML5 template"
                            style="width: 300px;"
                    /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li class="c1"><a href="/moderator">Main Page</a></li>
                    <li class="c2 dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/usersList">All Users</a></li>
                            <li><a href="/user_create">New User</a></li>
                        </ul>
                    </li>
                    <li class="c3"><a href="/studentsList">Students</a></li>
                    <li class="c4"><a href="/schoolsList">Schools</a></li>
                    <li class="c5"><a href="/LessonsList">Lessons</a></li>
                    <li class="c6"><a href="/logout">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
</header>