
<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/headers.html::head}"></head>
  <body>
  <header th:replace="~{fragments/headers.html::unregistered_user_navbar}"></header>
    <!-- Fixed navbar -->

    <!-- Header -->
    <header id="head">
      <div class="container">

        <div class="fluid_container">
          <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
            <div
              th:data-thumb="@{images/slides/img4.jpg}"
              th:data-src="@{images/slides/img4.jpg}"
            ></div>
            <div
              th:data-thumb="@{images/slides/img6.jpg}"
              th:data-src="@{images/slides/img6.jpg}"
            ></div>
            <div
              th:data-thumb="@{images/slides/img3.jpg}"
              th:data-src="@{images/slides/img3.jpg}"
            ></div>
            <div
              th:data-thumb="@{images/slides/img5.jpg}"
              th:data-src="@{images/slides/img5.jpg}"
            ></div>
          </div>
        </div>
        <!-- .fluid_container -->
      </div>
    </header>
    <!-- /Header -->

    <section class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-box clearfix">
            <h2 class="title-box_primary">About Us</h2>
          </div>
          <p>
            <span>
              Robotics is a course where we learn science, technology, engineering, and mathematics. Lessons for kids allows children to learn STEM concepts in a hands-on environment.
              They learn how to program, design, and make their own robots.
              Robotics offers an educational tool for kids to think out of the box. Many times kids have ideas of what they dream to create.
              Robotics makes those dreams come true!
            </span>
          </p>
          <p>
            Our programs are beneficial because they help to build confidence.
            Kids learn to be confident in their ideas and bring them to light, sometimes literally. They realize they can make things that other people can use.
            This makes them feel confident that they are positively contributing to the world around them.
            Children also learn perseverance during robotics programs. Projects very rarely come out right the first time.
            This is how kids learn to keep going and never give up, no matter how hard it may seem.
            of one another. This is a skill they can use their entire lives.
          </p>
          <p>
            Our lessons encourages hands-on learning. It can help to improve concentration and attention levels which can make kids more engaged in the classroom. Robotics for kids can also help to improve concentration.

          </p>
          <p>
            Robotics for kids helps to introduce the basics of programming to kids. Since robotics is hands-on, children usually find it interesting.
            When children take part in robotics, they also learn how to work together. Often, kids work together on projects and learn how to socialize and bounce ideas off one another. This is a skill they can use their entire lives.
            Giving children the skills they need now to compete in that job market as they get older is of the utmost importance.
          </p>
        </div>

      </div>
    </section>
  <footer th:replace="~{fragments/footers.html::footer}"></footer>
  <div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>
