
<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/headers.html::head}"></head>
<body>
<div th:if="${isModerator}==true" >
    <header th:replace="~{fragments/headers.html::moderator_user_navbar}"></header>
</div>
<div th:if="${isTeacher}==true">
    <header th:replace="~{fragments/headers.html::teacher_user_navbar}"></header>
</div>
<header id="head" class="secondary">
    <div class="container">
        <h1>Lesson Create</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <h3 class="section-title">Please enter data</h3>
        </div>
    </div>
    <form class="form-light mt-20" role="form" action="/lesson_create" method="post">
    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" name="date" th:value="${NowDate}">
    </div>
    <div class="form-group">
        <div th:if="${isModerator}==true">
            <label for="school">School</label>
            <select id="school" class="form-control" name="school" required>
                <option th:each="school : ${schools}" th:value="${school.getId()}" th:text="${school.getName()}"></option>
            </select>
        </div>
        <div th:if="${isTeacher}==true">
            <label for="school_">School</label>
            <select readonly class="form-control" name="school" id="school_" required>
                <option selected="true" th:value="${currentSchool.getId()}" th:text="${currentSchool.getName()}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div th:if="${isModerator}==true">
            <label for="teacher">Teacher</label>
            <select id="teacher" class="form-control" name="teacher">
                <option value="0">select option</option>
                <option th:each="teacher : ${teachers}" th:value="${teacher.getId()}" th:text="${teacher.getName()} +' '+ ${teacher.getLastname()}"></option>
            </select>
        </div>
        <div th:if="${isTeacher}==true">
            <label for="teacher_">Teacher</label>
            <select readonly class="form-control" id="teacher_" name="teacher">
                <option selected="true" th:value="${teacher.getId()}" th:text="${teacher}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Title</label>
        <input name="title" type="text" class="form-control" placeholder="Title of the Lesson" required>
    </div>
    <div class="form-group">
        <label>Comment</label>
        <textarea name="comment" type="text" class="form-control" placeholder="Comment"></textarea>
    </div>
    <div>
    <button type="submit" class="btn btn-two">Create</button><p><br/></p>
        </div>
    </form>
</div>
</body>
<div th:replace="~{fragments/scripts::scripts}"></div>
</html>