<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<head th:replace="~{fragments/headers.html::head}"></head>
<body>
<header th:replace="~{fragments/headers.html::moderator_user_navbar}"></header>
<header id="head" class="secondary">
    <div class="container">
        <h1>Student</h1>
        <p>Create New Student</p>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="section-title">Please enter data</h3>
            <form class="form-light mt-20" role="form" action="/student_create" method="post">
                <div class="form-group">
                    <label>Name</label>
                    <input name="name" type="text" class="form-control" placeholder="name">
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input name="lastName" type="text" class="form-control" placeholder="last name">
                </div>
                <div class="form-group">
                    <label>Personal code</label>
                    <input name="personalCode" type="text" class="form-control" placeholder="personal code">
                </div>
                <div class="form-group">
                    <label>School</label>
                    <select class="form-control" name="school">
                        <option value="0">select option</option>
                        <option th:each="school : ${schools}" th:value="${school.id}" th:text="${school.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Contract begin</label>
                    <input name="contractBegin" type="date" class="form-control" placeholder="contact begin">
                </div>
                <div class="form-group">
                    <label>Contract end</label>
                    <input name="contractEnd" type="date" class="form-control" placeholder="contact end">
                </div>

                <button type="submit" class="btn btn-two">Submit</button><p><br/></p>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>