<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/headers.html::head}"></head>
<body>
<header th:replace="~{fragments/headers.html::moderator_user_navbar}"></header>
<header id="head" class="secondary">
    <div class="container">
        <h1>Student</h1>
        <p>Update Student</p>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="section-title">Please enter data</h3>
            <form class="form-light mt-20" role="form" th:action="'/student_update/'+${student.getId()}" method="post">
                <div class="form-group">
                    <label>Name</label>
                    <input name="name" type="text" class="form-control" th:value="${student.getName()}">
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input name="lastName" type="text" class="form-control" th:value="${student.getLastName()}">
                </div>
                <div class="form-group">
                    <label>Personal code</label>
                    <input name="personalCode" type="text" class="form-control" th:value="${student.getPersonalCode()}">
                </div>
                <div class="form-group">
                    <label>School</label>
                    <select class="form-control" name="school">
                        <option value="0">--Please choose an option--</option>
                        <option th:each="school : ${schools}" th:value="${school.getId()}" th:text="${school.getName()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Contract begin</label>
                    <input name="contractBegin" type="date" class="form-control" th:value="${student.getContractBegin()}">
                </div>
                <div class="form-group">
                    <label>Contract end</label>
                    <input name="contractEnd" type="date" class="form-control" th:value="${student.getContractEnd()}">
                </div>
                <div class="form-group">
                    <input type="checkbox" name="isActive" th:checked="${student.getIsActive()}">
                    <label>Is Active</label>
                </div>
                <button type="submit" class="btn btn-two">Submit</button><p><br/></p>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>