
<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/headers.html::head}"></head>
<body>
<header th:replace="~{fragments/headers.html::moderator_user_navbar}"></header>
<header id="head" class="secondary">
  <div class="container">
    <h1>Please select a school you are working today</h1>

  </div>
</header>
<section class="features">
  <div class="container">
    <div class="row" >
      <div th:each="school: ${schools}">
        <div class="col-md-4">
          <div th:class="'grey-box-icon c'+ ${school.getId()}">
            <h4 th:text="${school.getName()}"></h4>
            <p th:text="${school.getAddress()}"></p>
            <p th:text="${school.getPhone()}"></p>
            <p><a href="/lessonsList"><em>Select</em></a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>