
<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/headers.html::head}"></head>
<body>
<header th:replace="~{fragments/headers.html::moderator_user_navbar}"></header>
<header id="head" class="secondary">
  <div class="container">
    <h1>User Update</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="section-title">Please enter data</h3>

<form class="form-light mt-20" role="form" th:action="${'/user_update/' + userItem.getId()}" method="post" th:object="${userItem}">
    <div class="form-group">
      <label for="username">Username</label>
      <input required id="username" name="username" type="text" class="form-control" th:value="${userItem.getUsername()}" th:placeholder="${userItem.getUsername()}">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input required id="password" name="password" type="password" class="form-control" th:value="${userItem.getPassword()}" th:placeholder="${userItem.getPassword()}">
    </div>

    <div class="form-group">
      <label for="role">Role</label>
      <select class="form-control" id="role" name="role">
        <option th:each="role: ${roles}" th:value="${role.toString()}"
                th:text="${role.toString()}"
                th:selected="${userItem.getRole().toString().equals(role.toString())}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" type="text" class="form-control" th:value="${userItem.getName()}" th:placeholder="${userItem.getName()}">
    </div>
    <div class="form-group">
      <label for="lastname">Last name</label>
      <input id="lastname" name="lastname" type="text" class="form-control" th:value="${userItem.getLastname()}" th:placeholder="${userItem.getLastname()}">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" name="email" type="email" class="form-control" th:value="${userItem.getEmail()}" th:placeholder="${userItem.getEmail()}">
    </div>
    <div class="form-group">
      <label for="studentPersonalCode">Student's Personal Code</label>
      <input id="studentPersonalCode" name="studentPersonalCode" type="text" class="form-control" placeholder=" "><!--  ${student.getPersonalCode()}-->
    </div>
    <div class="form-group">
      <input id="isActive" type="checkbox" name="isActive" th:checked="${userItem.getIsActive()}">
      <label for="isActive">Is Active</label>
    </div>
    <button class="btn btn-two">Save</button><p><br/></p>
  </form>
    </div>
  </div>
</div>
</div>
<div th:replace="~{fragments/scripts::scripts}"></div>
</body>
</html>